/* ENCABEZADO */
H1{
    margin-top: 20px;
    color: var(--font-white);
}

/* TABLA DE ETIQUETAS */

.etiquetas{
    width: 80%;

    margin: 50px auto;
    margin-top: 50px;
    padding: 20px;

    color: var(--font-white);

    background: var(--fondo2);

    border-collapse: collapse;
}

tr,td,th{
    border: 7px solid var(--fondo);
}
th{
    padding: 30px 0 30px 0;
}

td{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.etiquetas td:nth-child(1){
    text-align: center;
}
.etiquetas td:nth-child(2) {
    padding: 20px 10px 20px 10px;
}

.etiquetas td:nth-child(3) > span{
    display: block;
    padding: 15px;
    margin-right: 130px;
}



/* AREA DE PRUEBAS */
.prueba{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
   
    color: var(--font-white);
}

.prueba div{
   flex-grow: 1;
   border-radius: 10px;
   max-height: 200px;
}

#preview{
    padding-left: 30px;
    overflow: auto;
}
.copy-button{
    height: 100%;
    width: 110px;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background:rgb(20, 18, 39);
    border: none;
}

.copy-button i, .copy-button span {
    color: var(--font-white);
}

.copy-button:hover{
    background: rgb(0, 132, 255);
    font-size: 110%;
}
.copy-button:active{
    font-size: 90%;
}



